h1{
    color: blue;
    letter-spacing: 20px;
    word-spacing: 20px;
}

p{
    text-indent: 50px;
    text-align: center;
}
h2{
    text-decoration: overline;
}
h3{
    text-decoration: line-through;
}
h4{
    text-decoration: underline;
}
.myElement{
    color:blue;

}

#paragraph1{
font-style: normal;
font-size: 20px;
font-weight: normal;
}
#paragraph2{
font-style: italic;
font-size: 30px;
font-weight: bold;
}
#paragraph3{
font-style: oblique;
font-size: 50px;
font-weight: 900;
}
a{
 color: blue;
}
a:hover{
 color: aqua;
}
a:visited{
 color:cornsilk;
}